body {
  background-color: #181a1f;
  color: #dcdcdc;
  padding-left: 1em;
  padding-right: 1em;
}

.content {
  margin: auto;
  max-width: 105rem;
}

.centered {
  text-align: center;
}

table {
  border-spacing: 0;
  width: 100%;
}

table,
th,
td {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-collapse: collapse;
}

tr.expansionRow:not([hidden]) > :is(th, td) {
  border-top: 0;
}

tr:has(+ tr.expansionRow:not([hidden])) > :is(th, td) {
  border-bottom: 0;
}

th,
td {
  padding: 0.5em;
  text-align: left;
}

.dependenciesLabel {
  vertical-align: text-top;
}

.dependenciesList {
  margin: 0;
}

tbody.thinRows > tr > td {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.packageEntry:hover,
.packageEntry:hover + .expansionRow,
.packageEntry:has(+ .packageEntry.expansionRow:hover) {
  background-color: #222222;
}

th {
  user-select: none;
  white-space: nowrap;
}

td {
  white-space: nowrap;
}

td.description {
  white-space: inherit;
}

.sortButton {
  cursor: pointer;
}

.sortButton:hover {
  background-color: #444444;
}

html * {
  font-family: sans-serif;
}

code {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  font-size: 90%;
  background-color: #ffffff33;
  border-radius: 5px;
  font-family: monospace;
}

a {
  color: #90f1e1;
  cursor: pointer;
}

a:active {
  color: #67b8aa;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.headerLink {
  color: #dcdcdc;
}